
// Include any default variable overrides here (though functions won't be available)
$primary: #7719be;
$secondary: #02b05b;
$light: #f5effa;
$navbar-light-active-color: #7719be;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,  
  xxxl: 1920px
) !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,  
  xxxl: 1560px
) !default;

$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  x: $spacer * 5,
  xx: $spacer * 7,
  xxx: $spacer * 10,
) !default;

$font-size-base: 1.2rem;
$navbar-nav-link-padding-x: 1rem;
$dropdown-padding-x: 0.5rem;
$dropdown-font-size: 1rem;
$dropdown-item-padding-y: 0.5rem;
$dropdown-link-hover-bg: #F5EFFA;
$dropdown-link-hover-color: #7719BE;
$dropdown-border-radius: 0.5rem;


@import "../node_modules/bootstrap/scss/bootstrap";
@import "./bootstrap-switch.scss";

// Then add additional custom code here
$site-font-family: "EB Garamond ExtraBold";

.site .bootstrap-switch.bootstrap-switch-wrapper{
    width: 5rem;
    border-radius: 2.5rem;
}

.site .bootstrap-switch-default{
    // top: 0.1875rem;
    // left: 0.1875rem;
    // width: 1.125rem;
    // height: 1.125rem;
    border-radius: 1.125rem;
    // background: #fff;
    // transition: left 0.25s;
}

.site .bootstrap-switch-primary{
    // top: 0.1875rem;
    // left: 0.1875rem;
    // width: 1.125rem;
    // height: 1.125rem;
    border-radius: 1.125rem;
    // background: #fff;
    // transition: left 0.25s;
}


@font-face {
    font-family: #{$site-font-family};
    src: url(../fonts/EB_Garamond/EBGaramond-VariableFont_wght.ttf);
}

body {
    font-family: #{$site-font-family};
}

.site {
    text-align: justify;
}

.site .navbar-nav .nav-link.active,
.site .navbar-nav .nav-link.show {
    font-weight: bold;
}

.site a {
    text-decoration: none;
}

.site b, 
.site strong {
    font-weight: bold !important;
}

@media (min-width: 992px) {
    .site .slider {
        display: block !important;
    }
}

.site .card.card-site {
    margin: var(--bs-dropdown-divider-margin-y) 0;
    background-color: #f5f5f5;
    border-color: #e9e9e9;
}

.site .form-control::-moz-placeholder {
    font-family: EB Garamond Bold, fontello; 
    opacity: 0.5;
    font-size: 80%;
}

.site .form-control::placeholder {
    font-family: EB Garamond Bold, fontello; 
    opacity: 0.5;
    font-size: 80%;
}

.site .footer{
    background-color: #f5f5f5;
}

.site .btn-xs, .btn-group-sm > .btn {
    --bs-btn-padding-y: 0.125rem;
    --bs-btn-padding-x: 0.5rem;
    --bs-btn-font-size: 0.85rem;
    --bs-btn-border-radius: var(--bs-border-radius-sm);
}
  
.site .list-group {
    --bs-list-group-item-padding-y: 0.85rem;
}

.site .nav-link.list-group-item.list-group-item-action a {
    color: unset;
    text-align: left;
}

.site .list.list-group-flush > .list-group-item {
    border-width: 0 var(--bs-list-group-border-width) 0 0;
}

.site .list-group-flush > .list-group-item.active {
    border-width: 0 2px 0 0;
}

.site .nav-link.list-group-item.list-group-item-action.active a {
    color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
    cursor: default;
}

.site .nav-link.list-group-item.list-group-item-action.active:hover {
    background-color: unset !important;
    color: #fff !important;
    cursor: default;
}

.site .nav-link.list-group-item.list-group-item-action:hover {
    background-color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1)) !important;
    color: #fff !important;
    cursor: pointer;
}

.site .book-border {
    border-style: solid;
    // border-width: 0 0 0 1px;
    border-width: 0 1px 0 0;
    border-color: #dee2e6;
    padding-right: 1rem;
}

.site .book-border-hover {
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.site .book-border-hover:hover {
    margin: 0;
    background-color: #f9f6fc;
    border-style: solid;
    border-width: 0 0 0 2px;
    border-color: #7719be;
}

.site .book-border-hover .desc {
    display: none;
}

.site .book-border-hover:hover .desc {
    display: block;
}

.site .nav-tabs .nav-link.active,
.site .nav-tabs .nav-item.show .nav-link {
    border-color: #7719be;
}

.site .nav-tabs .nav-link {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-width: 0 0 2px 0;
}

.site .nav-tabs .nav-link:hover,
.site .nav-tabs .nav-link:focus {
    color: var(--bs-nav-link-hover-color);
}

.site .nav-tabs .nav-link {
    color: unset;
}

.site .wishlist-tooltip {
    --bs-tooltip-bg: var(--bs-primary);
}

.site .wishlist-actions .mask {
    transition: background-color .15s ease-in;
    display: none;
}

.site .wishlist-actions:hover .mask {
    display: block;
}

.admin .table-striped > tbody > tr:nth-of-type(even) > * ,
.site .table-striped > tbody > tr:nth-of-type(even) > * {
    --bs-table-color-type: var(--bs-table-striped-color);
    --bs-table-bg-type: var(--bs-table-striped-bg);
}

.admin .table-striped > tbody > tr:nth-of-type(odd) > * ,
.site .table-striped > tbody > tr:nth-of-type(odd) > * {
    --bs-table-color-type: initial;
    --bs-table-bg-type: initial;
}

.admin .table .table-light,
.site .table .table-light {
    --bs-table-bg: var(--bs-table-striped-bg);
    --bs-table-striped-bg: rgba(var(--bs-emphasis-color-rgb), 0.05);
    --bs-table-border-color: inherit;
    border-bottom: 1px solid;
    border-color: #e1e1e1;
}

.site .table th {
    padding: 1rem 1rem
}

.admin .table td ,
.site .table td {
    padding: 0.75rem 0.75rem
}

.site .badge.bg-default {
    background-color: #f5f5f5;
    border-color: #e1e1e1;
}

.purple-box {
    position: absolute;
    background-color: #f5effa;
    height: 80vh;
    width: 100%;
    z-index: -1;
    margin: 0;
    padding: 0;
}

.purple-half-box {
    position: absolute;
    background-color: #f5effa;
    height: 100vh;
    width: 40%;
    z-index: -1;
    margin: 0;
    padding: 0;
    right: 0;
    border-radius: 1rem 0rem 0rem 1rem;
}

.map-box
{
    position: absolute;
    top: 80vh;
    height: 100vh;
    width: 100%;
    z-index: -2;
    overflow: hidden;
    background-image: url(../img/map-demo.png);
    background-size: contain;
}

.profile-pic{
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
}

.profile-pic img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.table .profile-pic{
    width: 40px;
    height: 40px;
}
//  .profile-menu .dropdown-menu {
//    right: 0;
//    left: unset;
//  }
//  .profile-menu .icon {
//    margin-right: 10px;
//  }
 
//  .toggle-change::after {
//    border-top: 0;
//    border-bottom: 0.3em solid;
//  }




// @media (min-width: 2000px) {
//     .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
//         max-width: 1720px;
//     }
// }

// Transitions

:root {
    --secondary-color: #fff;
    --contrast-color: #f5effa;
}
.site .site-content {
    /* display: flex; */
    /* height: 100vh; */
    animation: expand .8s ease forwards;
    background-color: var(--secondary-color);
    position: relative;
    transition: all .8s ease;
    /* animation: slideIn 1.5s ease-in-out forwards; */
}
.site .site-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: -10;
    background-color: var(--contrast-color);
}
.site .slide-up{
    // transition: all .8s ease;
    // animation: slideUp 1.5s ease-in-out forwards;
    
    // transform: translateY(350px);
    // animation: slideUp 1s ease-in-out forwards;
    animation: slideUp .8s ease-in-out forwards;
}
.site .slide-in{
    // transition: all .8s ease;
    // animation: slideUp 1.5s ease-in-out forwards;
    
    transform: translateY(100px);
    animation: slideIn 1.5s ease-in-out forwards .8s;
}
@keyframes expand {
    0% {
        transform: translateX(2400px);
    }
    100% {
        transform: translateX(0px);
    }
}
@keyframes slideIn {
    0% {
        transform: translateX(500px) scale(.2);
    }
    100% {
        transform: translateX(0px) scale(1);
    }
}
@keyframes slideUp {
    0% {
        transform: translateY(350px);
    }
    100% {
        transform: translateY(0px);
    }
}

.reveal {
    position: relative;
    opacity: 0;
}

.reveal.active {
    opacity: 1;
}
.active.fade-bottom {
    animation: fade-bottom 1s ease-in;
}
.active.fade-left {
    animation: fade-left 1s ease-in;
}
.active.fade-right {
    animation: fade-right 1s ease-in;
}
@keyframes fade-bottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes fade-left {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-right {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.admin {
    background-color: #fafafa;
}




.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.sidebar {
    // width: 250px;
    min-width: 250px;
    max-width: 250px;
    // min-height: 100vh;
    background-color: #fff;
    transition: all 0.3s;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.175);

    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
}

// .sidebar.active {
//     margin-left: -250px;
//     // min-width: 80px;
//     // max-width: 80px;
//     // text-align: center;
// }

.sidebar.active {
    min-width: 100px;
    max-width: 100px;
    text-align: center;
}

a[data-toggle="collapse"] {
    position: relative;
}

.sidebar .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.sidebar .sidebar-header {
    padding: 20px;
    // background: #6d7fcc;
    background-color: #fff;
}

.sidebar ul.components {
    // padding: 20px 0;
    // border-bottom: 1px solid #47748b;
    border-bottom: 1px solid #e1e1e1;
}

.sidebar ul li a {
    padding: 0.5rem 0.5rem;
    margin: 0.75rem;
    // padding: 10px;
    font-size: 1.2rem;
    display: block;
    color: unset;
    text-decoration: none;
}

.sidebar ul li a.active,
.sidebar ul li a:hover {
    border-radius: 0.5rem;
    background-color: #F5EFFA;
    color: #7719BE;
    font-weight: 600;
}

.sidebar ul li.active > a,
.sidebar a[aria-expanded="true"] {
    // color: #fff;
    // background: #6d7fcc;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    // background: #6d7fcc;
}

.sidebar .sidebar-header strong {
    display: none;
}

.sidebar.active .sidebar-header h3 {
    display: none;
}

.sidebar.active .sidebar-header strong {
    display: block;
}

.sidebar ul li a {
    text-align: left;
}

.sidebar.active ul li a {
    padding: 12px 0px;
    text-align: center;
    font-size: 0.85em;
}

.sidebar.active ul li a i {
    margin-right:  0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

.sidebar.active ul ul a {
    padding: 10px !important;
}

.sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

@media (max-width: 768px) {
    .sidebar.active {
        min-width: 100px;
        max-width: 100px;
        text-align: center;
        margin-left: -100px !important;
    }
    
    .content.active {
        width: 100% !important;
    }

    .sidebar {
        margin-left: 0; 
    }
    
    .sidebar .sidebar-header strong {
        display: none;
    }

    .sidebar.active .sidebar-header h3 {
        display: none;
    }

    .sidebar.active .sidebar-header strong {
        display: block;
    }

    .sidebar.active ul li a {
        padding: 20px 10px;
        font-size: 0.85em;
    }

    .sidebar.active ul li a i {
        margin-right:  0;
        display: block;
        font-size: 1.8em;
        margin-bottom: 5px;
    }

    .sidebar.active ul ul a {
        padding: 10px !important;
    }

    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
}

.content {
    width: calc(100% - 250px);
    padding: 0px 30px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

.content.active {
    width: calc(100% - 100px);
}

.admin .page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: $primary;
    border-color: $primary;
}

.admin .pagination {
    --bs-pagination-border-width: 0;
    --bs-pagination-bg: transparent;
}

.admin .page-item.disabled .page-link {
    background-color: transparent;
}

.admin .page-item .page-link {
    margin-left: 0.35em;
}

.admin table .dropdown-toggle::after   {
    display: none;
}

.admin .form-control::-moz-placeholder {
    font-family: EB Garamond Bold, fontello; 
    opacity: 0.5;
    font-size: 80%;
}

.admin .form-control::placeholder {
    font-family: EB Garamond Bold, fontello; 
    opacity: 0.5;
    font-size: 80%;
}



.admin .card .list-group-item {
    border-width: 1px;
}

.admin .dropdown-menu.card {
    --bs-dropdown-padding-x: 0;
    --bs-dropdown-padding-y: 0;
}

.admin .dropdown-menu.card {
    display: none;
}

.admin .dropstart .dropdown-menu.card.show,
.admin .dropstart .dropdown-toggle::before {
    display: block;
}

.admin .dropstart .dropdown-toggle::after,
.admin .dropstart .dropdown-toggle::before {
    display: none;
}

.admin .nav-tabs .nav-link.active,
.admin .nav-tabs .nav-item.show .nav-link {
    background-color: transparent;
}

.admin .nav-tabs .nav-link.active,
.admin .nav-tabs .nav-item.show .nav-link {
    border-color: #7719be;
}

.admin .nav-tabs .nav-link {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-width: 0 0 2px 0;
}

.admin .nav-tabs .nav-link:hover,
.admin .nav-tabs .nav-link:focus {
    color: var(--bs-nav-link-hover-color);
}

.admin .nav-tabs .nav-link {
    color: unset;
}

.pager {
    padding-left: 0;
    margin: 20px 0;
    text-align: center;
    list-style: none
}

.pager li {
    display: inline;
}

.pager li a {
    text-decoration: none;
}

// .pager li>a,.pager li>span {
//     display: inline-block;
//     padding: 5px 14px;
//     background-color: #fff;
//     border: 1px solid #ddd;
//     border-radius: 15px
// }

// .pager li>a:hover,.pager li>a:focus {
//     background-color: #eee
// }

.pager .next>a,.pager .next>span {
    float: right
}

.pager .previous>a,.pager .previous>span {
    float: left
}

// .pager .disabled>a,.pager .disabled>a:hover,.pager .disabled>a:focus,.pager .disabled>span {
//     color: #777;
//     cursor: not-allowed;
//     background-color: #fff
// }

.hidden {
    display: none!important;
    visibility: hidden!important
}

