################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/package-lock.json
/package.json
/script.html
/transitions.html
/home.css
